<style>
.imgProfile{
  box-shadow: 4px 4px 2px #888888;
  float: left;
  border: 1px solid;
  margin-right: 20px;
  clear:both;
}

.borderProfile {
    margin-left: 0px;
    overflow:auto;
    display:block;
}
.BorderProfile.clear {
    clear:both;
}


.nameProfile{
  font-size: 18px;
  color:  #000033;
}


.titleProfile{
  color:  #00004d;
  font-size: 16.5px;
}
</style>

<!--
IMAGE DIMENSIONS ARE 99px by 99px, or 3.49cm by 3.49cm
-->
<br/>
<p style="color:#00001a; font-size:21px;">Meet the Creators</p>
<br/>


<div class="imgProfile"><%= link_to image_tag('profilePictures/bhatti.png', :size => "99x99") %></div>
  <div class="borderProfile">
  <p class="nameProfile">Dallan Bhatti</p>
  <p class ="titleProfile">Your Title</p>
  <p>
    Alex co-founded UrineLuck in 2016. He acts as Senior Vice President and Chief
    Operating Officer. Before creating UrineLuck, Alex spent several years as an
    executive consultant advising small & mid-size technology companies and prior
    to that was Vice President of Corporate Development at Orange. Alex
    has over 15 years of experience in OEM, strategic alliances, partnering
    strategy, product management and corporate development—creating and driving
    strategies to enter new markets and accelerate market share and revenues.
    <br/> <br/>
    Alex holds a PhD in Mathematics from Stanford University and a BA in
    Computer Science from Harvard University.
  </p>
  </div>
  <br/>
  <br/>




<div class="imgProfile"><%= link_to image_tag('profilePictures/nguyen.png', :size => "99x99") %></div>
  <div class="borderProfile">
  <p class="nameProfile">Alex Nguyen</p>
  <p class ="titleProfile">Senior Vice President, Chief Operating Officer</p>
  <p>
    Alex co-founded UrineLuck in 2016. He acts as Senior Vice President and Chief
    Operating Officer. Before creating UrineLuck, Alex spent several years as an
    executive consultant advising small & mid-size technology companies and prior
    to that was Vice President of Corporate Development at Orange. Alex
    has over 15 years of experience in OEM, strategic alliances, partnering
    strategy, product management and corporate development—creating and driving
    strategies to enter new markets and accelerate market share and revenues.
    <br/> <br/>
    Alex holds a PhD in Mathematics from Stanford University and a BA in
    Computer Science from Harvard University.
  </p>
  </div>
  <br/>
  <br/>



  <div class="imgProfile"><%= link_to image_tag('profilePictures/perron.png', :size => "99x99") %></div>
    <div class="borderProfile">
    <p class="nameProfile">Dawson Perron</p>
    <p class ="titleProfile">Your Title</p>
    <br/>
    <p>
      Your descripton
      <br/> <br/>
      Your Qualifications.
    </p>
    </div>
    <br/>
    <br/>


    <div class="imgProfile"><%= link_to image_tag('profilePictures/wang.png', :size => "99x99") %></div>
      <div class="borderProfile">
      <p class="nameProfile">Dylan Wang</p>
      <p class ="titleProfile">Your Title</p>
      <p>
        Your descripton
        <br/> <br/>
        Your Qualifications.
      </p>
      </div>
      <br/>
      <br/>

      <div class="imgProfile"><%= link_to image_tag('profilePictures/yao.png', :size => "99x99") %></div>
        <div class="borderProfile">
        <p class="nameProfile">Yolando Yao</p>
        <p class ="titleProfile">Your Title</p>
        <br/>
        <p>
          Your descripton
          <br/> <br/>
          Your Qualifications.
        </p>
        </div>
        <br/>
        <br/>

<p> Send all emails to <i>group13public@gmail.com</i> </p>
