<!-- Begin user profile page -->
<h1>Profile</h1>

<div class="container-fluid">
<div class= "row">
<div style="width:100%;margin:auto;padding:none">
    <div class="col-md-6 col-md-offset-3">

        <% if current_user.role == "female" || current_user.role == "male" %>
            <table class="table">
                <% if current_user.image != nil %>
                    <tr>
                        <th>Profile Picture</th>
                        <td><%= image_tag current_user.image.url(:mini) %></td>
                    </tr>
                <% end %>
                <tr>
                    <th>Name</th>
                    <td><%= current_user.name %></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><%= current_user.email %></td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td><%= current_user.role %></td>
                </tr>
                <tr>
                    <th>IP Address</th>
                    <td><%= current_user.current_sign_in_ip %></td>
                </tr>
                <tr>
                    <th>IP Address Current</th>
                    <td><%= request.ip %></td>
                </tr>
                <tr>
                    <th>Current City</th>
                    <td><%= request.location.city %></td>
                </tr>
            </table>
        
        <% elsif isAdmin? %>
            <% for user in  @user do%>
                <% if user == current_user %>
                    <table class="table">
                        <tr>
                            <th><b>Profile Picture</b></th>
                            <td><%= image_tag current_user.image.url(:mini) %></td>
                        </tr>
                        <tr>
                            <th><b>Name</b></th>
                            <td><b><%= user.name %></b></td>
                        </tr>
                        <tr>
                            <th><b>Email</b></th>
                            <td><b><%= user.email %></b></td>
                        </tr>
                        <tr>
                            <th><b>Role</b></th>
                            <td><b><%= user.role %></b></td>
                        </tr>

                    </table>
                <% else %>
                    <table class="table">
                        
                        <tr>
                            <th>Name</th>
                            <td><%= user.name %></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><%= user.email %></td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td><%= user.role %></td>
                        </tr>
                        <tr>
                            <td><%= link_to 'Destroy', admin_destroy_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
                        </tr>
                        
                    </table>
                <% end %>
            <% end %>
        <% end %>
        <div class="col-md-6 col-md-offset-3">
            <%= will_paginate @user %>
        </div>
</div>
</div>
</div>
