<!-- Begin edit user information page -->


<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :name %>

      <%= f.input :email %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <%= f.input :password, placeholder: "leave blank if you don't want to change it" %> 

        <%= f.input :password_confirmation %>

      <% if f.object.encrypted_password.present? %>
          <%= f.input :current_password, placeholder: "we need your current password to confirm your changes" %> 
      <% end %>
      
      <div class="field">
          <% if current_user.image == nil %>
            <%= f.label :image, "Add a Profile Picture" %><br />
          <% else %>
            <%= f.label :image, "Change Your Profile Picture" %><br />
          <% end %>
          <%= f.file_field :image, autofocus: true %>
      </div><br>

              <%= f.button :submit, class: "btn btn-success" %> 

    <% end %>


    <h2>Cancel my account</h2>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
