<!-- Begin adding bathroom to database --> 
 
<div id="motto">
    <p>Your contribution will prevent others from boom shakaraka</p>
</div>

<%= form_for(@bath) do |f| %>

  <% if @bath.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bath.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @bath.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <div class="field">  
        <%= f.label :country, "Country" %>
        <%= f.select "country", options_for_select(countries_list) %>
      </div>
    
      <div class="field">
          <%= f.label :province, "Province/State" %><br />
          <%= f.select "province", options_for_select(us_states) %>
      </div>
    
      <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city, autofocus: true %>
      </div> 

      <div class="field">
          <%= f.label :apartment, "Apartment/Suite number if applicable" %><br />
          <%= f.text_field :apartment, autofocus: true %>
      </div>
    
      <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :rating %><br />
        <%= f.number_field :rating, autofocus: true %>
    </div>
  
  <% if isAdmin? %>  
    <%= f.submit "Create my bathroom", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Send bathroom request", class: "btn btn-primary" %>
  <% end %>
  
    <% if current_user=="admin" %>  
      <%= f.submit "Create my bathroom", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "Send bathroom request", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
  
<% end %>
