<h1>Bathrooms that you have requested to add</h1>

<% @baths.each do |bath| %> 
        <div class="row">
            <div class="col-md-6 col md-offset-3">
                
            <table class="table">
                        <tr>
                            <th><b>Address</b></th>
                            <td><b><%= bath.address %></b></td>
                        </tr>
                        <tr>
                            <th><b>City</b></th>
                            <td><b><%= bath.city %></b></td>
                        </tr>
                        <tr>
                            <th><b>Province/State</b></th>
                            <td><b><%= bath.province %></b></td>
                        </tr>
                        <tr>
                            <th><b>Country</b></th>
                            <td><b><%= bath.country %></b></td>
                        </tr>
                        <tr>
                            <th><b>Rating</b></th>
                            <td><b><%= bath.rating %></b></td>
                        </tr>
                        
                        <tr>
                            <th><b>Longitude</b></th>
                            <td><b><%= bath.longitude %></b></td>
                        </tr>
                        
                        <tr>
                            <th><b>Latitude</b></th>
                            <td><b><%= bath.latitude %></b></td>
                        </tr>
                        
                        <tr>
                            <th><b>Status</b></th>
                            <% if bath.admin_accept == true %>
                                <td><b><font color="green">Approved</font></b></td>
                            <% else %>
                                <td><b><font color="red">Pending/Denied</font></b></td>
                            <% end %>
                        </tr>
                        

            </table>    
                
            </div>
        </div>
<% end %>