<% if current_user.role == "female" || current_user.role == "male" %>
    <h1>These are the bathrooms you have added</h1>
    
    <div class="row">
        <div class="col-md-6 col md-offset-3">
            
            <% @baths.each do |bath| %>
                    <table class="table">
                        <tr>
                            <th><b>Address</b></th>
                            <td><b><%= bath.address %></b></td>
                        </tr>
                        <tr>
                            <th><b>City</b></th>
                            <td><b><%= bath.city %></b></td>
                        </tr>
                        <tr>
                            <th><b>Rating</b></th>
                            <td><b><%= bath.rating %></b></td>
                        </tr>
                    
                        <tr>
                            <th><%= link_to "Read the Reviews", newreview_path %></th>
                        </tr>
                    </table>
            <% end %>
            
        </div>
    </div>
    
    
<% elsif current_user.role == "admin" %>
    <h1>These are the bathrooms in the database</h1>
    <% for bath in  @baths do%>
    <div class="row">
        <div class="col-md-6 col md-offset-3">
            
            
                    <table class="table">
                        <tr>
                            <th><b>Address</b></th>
                            <td><b><%= bath.address %></b></td>
                        </tr>
                        <tr>
                            <th><b>City</b></th>
                            <td><b><%= bath.city %></b></td>
                        </tr>
                        <tr>
                            <th><b>Rating</b></th>
                            <td><b><%= bath.rating %></b></td>
                        </tr>
                        
                        <tr>
                            <th><b>Longitude</b></th>
                            <td><b><%= bath.longitude %></b></td>
                        </tr>
                        
                        <tr>
                            <th><b>Latitude</b></th>
                            <td><b><%= bath.latitude %></b></td>
                        </tr>

                        <tr>
                            <th><%= link_to "Read the Reviews", showreview_path %></th>
                        </tr>
 
                         <tr>
                            <th><%= link_to "Leave A Review", newreview_path %></th>
                        </tr>
                        
                        
                        <tr>
                            <th><%= link_to "Destroy", bath, method: :delete, data: { confirm: "You sure?" } %></th>
                        </tr>
                    </table>
            
            
        </div>
    </div>
    

    
    
    <% end %>
    
    
    <!--<div class="row">-->
    <!--<div class="small-2 large-2 columns">-->
    <!--<%= imdb_style_rating_for bath, current_user%>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="small-2 large-4 columns">-->
    <!--<% if current_user %>-->
    <!--  Visual Effects: <%= rating_for bath, "smell" %>-->
    <!--  <br>-->
    <!--  Original Score: <%= rating_for bath, "wait_time" %>-->
    <!--  <br>-->
    <!--  Director: <%= rating_for bath, "comfort" %>-->
    
    <!--<% end %>-->
    <!--</div>-->
    <!--</div>-->
    
    

    
<% end %>