<%= form_for [@bath, @review] do |f| %>
    
    <div class="field">  
        <%= f.label :rating %><br />
        <%= f.radio_button :rating, 1 %> 1
        <%= f.radio_button :rating, 2 %> 2
        <%= f.radio_button :rating, 3 %> 3
        <%= f.radio_button :rating, 4 %> 4
        <%= f.radio_button :rating, 5 %> 5
    </div>
    
    <div class="field">  
        <%= f.label :post %><br />
        <%= f.text_area :post %>
        
    </div>
        <%= f.submit "Create my review" %> 
<% end %>