<!-- Begin header file -->

<div id="top_banner">
    <% if !user_signed_in? %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <p>|</p>
        <%= link_to 'Log In', new_user_session_path %>
    <% else %>
        <%= link_to 'Profile', edit_user_registration_path %>
        <p>|</p>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% end %>
</div>

<div id="logo"><%= link_to image_tag('logo.PNG', :size => "163x100"), home_path %></div>

<ul class="nav">
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'Map', showmap_path %></li>
    <li>
        <%= link_to 'Toilet Info', newbath_path %>
        <ul>
            <li><%= link_to 'Add bathroom', newbath_path %></li>
            <li><%= link_to 'Show all bathrooms', newbath_path %></li>
            <li><%= link_to 'View bathroom requests', newbath_path %></li>
        </ul>
    </li>
    <li><a href="#">About us</a></li>
    <div class="effect"></div>
</ul>