<!DOCTYPE html>
<html>
<head>
  <title>UrineTrouble</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>


<body> <!--style="	width:100%;height:100%;  "> -->
  <%= render 'layouts/header' %>

    <!--<div class="holdme">-->
    <!--
    <% if user_signed_in? %>

      <p>Hello, <%= current_user.name %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %></p>

    <% end %>
  -->

      <%= yield %>


      <!--<img src="urinelucklogo.png" alt="urinelucklogo" height="500" width="500">-->
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
      <%= render 'layouts/footer' %>

    <!--</div>-->
  </body>
</html>
